.card-container{
    width: 291px;
    height: 139px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
}

.card-title{
    font-size: 12px;
    font-weight: 500;
}

.card-value{
    font-size: 36px;
    font-weight: bold;
}