<div class="profile-upper-container" nz-flex [nzVertical]="true"
nzJustify="center"
nzAlign="center"
>
    <img src="../../../assets/images/profile-img.png" alt="">
</div>
<div class="profile-lower-container" nz-flex [nzVertical]="true" nzJustify="center" nzAlign="center">
    
    <div class="about-info" nz-flex [nzVertical]="true" nzAlign="start">
        <h2 class="name">Azeem Ali</h2>
        <h3 class="location">Pakistan, Lahore</h3>

        <div class="other-info email"><span class="bold">Email:</span> azeemali{{'@'}}gmail.com</div>
        <div class="other-info age"><span class="bold">Age:</span> 29</div>
        <div class="other-info cnic"><span class="bold">CNIC:</span> 37284-4938293-4</div>
    </div>

    <div class="buttons" nz-flex nzGap="20px">
        <button class="edit-btn" nz-button nzType="primary">Edit profile</button>
        <button class="bookings-btn" nz-button nzType="primary">My Bookings</button>
    </div>
</div>