/* You can add global styles to this file, and also import other style files */
:root{
    --primary-color: #F49B33;
    --secondary-color: #2B2B2B;
    --tertiary-color: #5E5E5E;
    --sub-color: #CECECE;
}